@import "my/post.scss";

@import "my/sidebar.scss";
@import "my/sidebar_main.scss";
@import "my/sidebar_post.scss";
@import "my/sidebar_listgroup.scss";

@import "my/archives.scss";

@import "my/back_to_top.scss";

/*---------------------- main ------------------------*/

$height-footer: 40px;

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: $height-footer;
}



strong {
    font-weight: bolder;
}


/* pre.highlight { */
    /* font-size: 90%; */
    /* background: #272822; */
/* } */




pre code {
    border: 0;
    color: #24292e;
}

a {
    color: #0366d6;    
    word-break: break-all;
}

.post-content{
    font-size: 16px;
    line-height: 1.5;
}

pre.highlight {
    border: 0;
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}
code.hljs {
    background: inherit;
    border:0;
}

body {
    color: #24292e;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    /* line-height: 1.25; */
}
.post-excerpt {
    font-size: 16px;
}

pre {
    font-size: 90%
}
h1 {font-size: 2.00em;}
/* h2 {font-size: 1.50em;} */
/* h3 {font-size: 1.25em;} */
/* h4 {font-size: 1.00em;} */
/* h5 {font-size: 0.75em;} */
/* h6 {font-size: 0.50em;} */

.markdown-body code {
    color: inherit;
    background: #e8f2fb;
    font-size: 100%;
    padding: 0px 0px;
    margin: 4px;
    color: #000000;   
    /* border: 1px solid #c9e1f6; */
}
.markdown-body .highlight pre {
    font-size: 90%
    /* border: 1px solid #c9e1f6; */
}



img {
    vertical-align: initial;
}

.post-preview .post-readmore {
    margin: initial;
}
.navbar {
    margin-bottom: initial;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

hr {

}

.post-pagination a {
    background-color: #5bc0de; /*#009D00;*/
}

/* .markdown-body ol { */
    /* counter-reset: li */
/* } */

/* .markdown-body li::before { */
    /* list-style-position: outside; */
    /* content: counter(li)'.'; */
    /* display: inline-block;  */
    /* width: 1em; */
    /* margin-left: -1em; */
    /* font-size: 10px; */
    /* font-weight: 600; */
    /* counter-increment: li */
    /* margin-left: -1.5em; */
    /* margin-right: 0.5em; text-align: right; direction: rtl */
/* } */

/* .markdown-body code, .markdown-body kbd, .markdown-body pre { */
    /* font-family: monospace,monospace; */
/* } */


/* .markdown-body { */
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
/* } */

/* .markdown-body code, .markdown-body pre { */
    /* font-family:monospace; */
/* } */
/* Consolas字体 0中间有斜杠，不会与大写O混淆，但这个字体不支持中文 */
/* 新宋体NSimSun字体 0容易与大写O混淆 */


/*---------------------- footer copyright ------------------------*/

.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    /* height: $height-footer; */
    background-color: #F8F8F8;
    border-top: 1px solid #EAEAEA;
}

.footer .copyright {
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0px;
    margin: 0 auto;
    display: block;
    color: #404040;
    text-align: center;
}