<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-cn" }}">

  {% include head.html %}
  
  <script>
    //console.log('page.path:'+'{{page.path}}');
    //console.log('page.id:','{{page.id}}');
    //console.log('page.url:'+'{{page.url}}');
    //console.log('page.name:'+'{{page.name}}');
    //console.log('page.dir:'+'{{page.dir}}');
    //console.log('site.baseurl:'+'{{site.baseurl}}:\n'+'site.url:'+'{{site.url}}:\n');

    //document.write('{% raw %}{% assign subpath = '+ subpath + ' %}{% endraw %}');
    //function a()
    //{
    //    return subpath;
    //}
    
    subpath = '{{page.path}}';
    subpath = subpath.replace( /^_posts\//, "");
    //console.log('subpath='+subpath);
    subpath = subpath.match(/(.*)(\..*)/)[1];
    //console.log('subpath='+subpath);
    var page_url = '{{ site.domainurl | append: page.url }}';
    var page_indentifier = subpath;
    console.log('page_url=%s\npage_indentifier=%s', page_url, page_indentifier);
    
  </script>
  
  <body>
    {% include {{ site.baseurl }}header.html %}
  
    {{ content }}

    {% include {{ site.baseurl }}footer.html %}

    <a href="#top" class="back-to-top">^</a>

<!--     {% if site.analytics_id %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.analytics_id }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %} -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ site.baseurl }}/assets/js/jquery-1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl }}/assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <!-- TOC -->
    <script src="{{ site.baseurl }}/assets/js/toc/TOC.js"></script>

    <script>$("#search-form").submit(function(event){
      var query = document.getElementById("search-input").value;
      window.open("http://google.com/search?q=" + query + "%20site:" + "{{ site.sitesearchurl}}");
    });</script>
    
  </body>
</html>
