---
layout: default
---

<div class="container">
  <div class="row-fluid main">
    <div class="col-md-9 content">
      <article class="post">
        <h1 class="post-title">{{ page.title }}</h1>

        <div class="post-info">
          <span class="post-date">{{ page.date }}</span>
          {% if page.categories.size > 0 %} | 
            <span class="fa fa-folder-open" aria-hidden="true">
            {% for category in page.categories %}
              <a class="post-categories" href="{{ site.baseurl }}/categories.html#{{ category }}">{{ category }}</a>
            {% endfor %}
            </span>
          {% endif %}
          {% if page.tags.size > 0 %} | 
            <span class="fa fa-tag" aria-hidden="true">
            {% for tag in page.tags %}
              <a class="post-tags" href="{{ site.baseurl }}/tags.html#{{ tag }}">{{ tag }}</a>
            {% endfor %}
            </span>
          {% endif %}
        </div>

        <hr>
        <div class="markdown-body"> <!-- post-content -->
          {{ content }}
        </div>
        <br><br>
      </article>

      <nav class="post-pagination">
        {% if page.previous %}
        <a href="{{ site.baseurl }}{{ page.previous.url }}" class="btn previous" title="{{ page.previous.title }}">&larr; {{ page.previous.title }}</a>
        {% endif %}
        {% if page.next %}
        <a href="{{ site.baseurl }}{{ page.next.url }}" class="btn next" title="{{ page.next.title }}">{{ page.next.title }} &rarr;</a>
        {% endif %}
      </nav>

      <hr>

      {% if site.related_posts != empty %}
      <aside class="related">
        <h3>Related Posts</h3>
        <ul class="related-posts">
          {% for post in site.related_posts limit:3 %}
            <li>
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
              </a>
            </li>
          {% endfor %}
        </ul>
      </aside>
      {% endif %}
      
      {% if page.comments %}
        {% include {{ site.baseurl }}comments.html %}
      {% endif %} 

    </div>
    
    <div class="col-md-3 post-sidebar">
      {% include {{ site.baseurl }}sidebar_post.html %}
    </div>
  </div>
</div>

<script>  
  //博文内图片删掉alt=""，以便如果显示不成功出现一个broken image icon
  var images = document.images;
  var pattern = /alt=""/g;

  for (var i = 0, imagesLength = images.length; i < imagesLength; i++) {
    //images[i].replace(pattern, "");
    if (images[i].hasAttribute("alt") && images[i].alt==="")
      //images[i].removeAttribute("alt");
      images[i].alt="broken image";
    
    //console.log(images[i]);
    
  }

  //博文内所有超链接都在新页面打开  
  var links = document.getElementsByClassName("markdown-body")[0].getElementsByTagName("a");
  for (var i = 0, linksLength = links.length; i < linksLength; i++) {
    //console.log(links[i], links[i].target);
    if (links[i].hash[0]!="#") //本页锚点跳转不打开新页面
      links[i].target = '_blank';
    //console.log(links[i], links[i].target);
  }
</script>